absl-py==1.4.0
aiofiles==23.2.1
aiohttp==3.9.1
aiosignal==1.3.1
altair==5.1.2
altgraph==0.17.3
annotated-types==0.6.0
anyio==3.7.1
appdirs==1.4.4
APScheduler==3.9.1
argos-translate-files==1.1.4
argostranslate==1.9.1
asttokens==2.2.1
astunparse==1.6.3
async-timeout==4.0.3
attrs==23.1.0
Babel==2.13.1
backcall==0.2.0
beautifulsoup4==4.9.3
bidict==0.22.1
bleach==6.1.0
blinker==1.6.3
blis==0.7.11
cachelib==0.10.2
cachetools==5.3.0
catalogue==2.0.10
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==2.1.1
click==8.1.7
cloudpathlib==0.16.0
collection==0.1.6
colorama==0.4.6
comm==0.1.4
commonmark==0.9.1
confection==0.1.4
contourpy==1.1.0
couchbase==4.2.1
ctranslate2==3.20.0
cycler==0.11.0
cymem==2.0.8
datasets==2.15.0
debugpy==1.8.0
decorator==5.1.1
Deprecated==1.2.14
dill==0.3.7
distlib==0.3.7
distro==1.9.0
editables==0.5
en-core-sci-md @ https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.5.1/en_core_sci_md-0.5.1.tar.gz#sha256=4485c7c3f2522eccf53e44069223d1162258de48fbad457419b38808b3a0ed20
en-core-sci-sm @ https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.5.1/en_core_sci_sm-0.5.1.tar.gz#sha256=8588289f761488021e096e8a7ebbdad52acc0e74685e602c5d0d0b7a5fa546a3
en-ner-bc5cdr-md @ https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.5.1/en_ner_bc5cdr_md-0.5.1.tar.gz#sha256=7852184affa649bcc1417d11fb1075b99f483e1f8329d91ca296de8020a46a31
et-xmlfile==1.1.0
executing==1.2.0
expiringdict==1.2.2
fastapi==0.104.1
ffmpy==0.3.1
filelock==3.13.1
Flask==3.0.3
flask-babel==3.1.0
Flask-Limiter==2.6.3
Flask-Session==0.4.0
Flask-SocketIO==5.3.6
Flask-SQLAlchemy==3.1.1
flask-swagger==0.2.14
flask-swagger-ui==4.11.1
flatbuffers==23.5.26
fonttools==4.41.1
frozenlist==1.4.0
fsspec==2023.10.0
gast==0.5.4
google-auth==2.16.1
google-auth-oauthlib==1.1.0
google-pasta==0.2.0
gradio==4.7.1
gradio_client==0.7.0
greenlet==3.0.3
grpcio==1.51.3
h11==0.14.0
h5py==3.10.0
hatch==1.7.0
hatchling==1.18.0
httpcore==1.0.2
httpx==0.25.1
huggingface-hub==0.19.4
hyperlink==21.0.0
idna==3.4
imageio==2.32.0
importlib-metadata==6.8.0
importlib-resources==6.1.1
imutils==0.5.4
ipykernel==6.25.2
ipython==8.14.0
ipywidgets==8.1.1
itsdangerous==2.1.2
jaraco.classes==3.3.0
jax==0.4.26
jaxlib==0.4.26
jedi==0.19.0
Jinja2==3.1.2
jiwer==3.0.3
joblib==1.3.2
jsonify==0.5
jsonschema==4.20.0
jsonschema-specifications==2023.11.1
jupyter_client==8.4.0
jupyter_core==5.4.0
jupyterlab-widgets==3.0.9
kaggle==1.6.14
keras==2.15.0
keyring==24.2.0
kiwisolver==1.4.4
langcodes==3.4.0
langdetect==1.0.9
language_data==1.2.0
lazy_loader==0.3
LexiLang==1.0.1
libclang==16.0.6
libretranslate==1.5.1
limits==3.6.0
llvmlite==0.41.1
lxml==4.9.3
marisa-trie==1.1.0
Markdown==3.4.1
MarkupSafe==2.1.2
matplotlib==3.7.2
matplotlib-inline==0.1.6
mediapipe==0.10.13
ml-dtypes==0.2.0
more-itertools==10.1.0
Morfessor==2.0.6
mpmath==1.3.0
mtm==1.0.0
Multi-Template-Matching==1.6.6
multidict==6.0.4
multiprocess==0.70.15
murmurhash==1.0.10
nest-asyncio==1.5.8
networkx==3.0
ngrok==1.2.0
numba==0.58.1
numpy==1.24.2
oauthlib==3.2.2
openai==1.27.0
opencv-contrib-python==4.9.0.80
opencv-python==4.8.1.78
opencv-python-headless==4.8.1.78
openpyxl==3.1.2
opt-einsum==3.3.0
orjson==3.9.10
packaging==23.1
pandas==1.5.3
parso==0.8.3
pathlib_abc==0.1.1
pathspec==0.11.2
pathy==0.11.0
pefile==2023.2.7
pexpect==4.8.0
pickleshare==0.7.5
Pillow==10.0.0
platformdirs==3.11.0
pluggy==1.3.0
polib==1.1.1
preshed==3.0.9
prometheus-client==0.15.0
prompt-toolkit==3.0.39
protobuf==4.25.3
psutil==5.9.5
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==14.0.1
pyarrow-hotfix==0.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.22
pydantic==1.10.15
pydantic_core==2.14.5
pydicom==2.4.4
pydub==0.25.1
Pygments==2.15.1
pyinstaller==5.8.0
pyinstaller-hooks-contrib==2023.0
PyMuPDF==1.24.2
PyMuPDFb==1.24.1
pyparsing==3.0.9
PyPDF2==3.0.1
pyperclip==1.8.2
pytesseract==0.3.10
python-dateutil==2.8.2
python-dotenv==1.0.1
python-engineio==4.8.0
python-multipart==0.0.6
python-slugify==8.0.4
python-socketio==5.10.0
pytz==2022.7.1
pywin32==306
pywin32-ctypes==0.2.0
PyYAML==6.0.1
pyzmq==25.1.1
rapidfuzz==3.5.2
redis==4.3.4
referencing==0.31.0
regex==2023.10.3
render==1.0.0
requests==2.28.1
requests-oauthlib==1.3.1
rich==12.6.0
rpds-py==0.13.1
rsa==4.9
sacremoses==0.0.53
safetensors==0.4.1
scikit-image==0.22.0
scikit-learn==1.3.2
scipy==1.11.1
seaborn==0.13.2
semantic-version==2.10.0
sentencepiece==0.1.99
shapely==2.0.2
shellingham==1.5.4
simple-websocket==1.0.0
six==1.16.0
smart-open==6.4.0
sniffio==1.3.0
sounddevice==0.4.6
soupsieve==2.5
spacy==3.4.4
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SQLAlchemy==2.0.30
srsly==2.4.8
stack-data==0.6.2
stanza==1.1.1
starlette==0.27.0
sympy==1.12
tabulate==0.9.0
tensorboard==2.15.1
tensorboard-data-server==0.7.0
tensorboard-plugin-wit==1.8.1
tensorflow==2.15.0
tensorflow-estimator==2.15.0
tensorflow-intel==2.15.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.3.0
tesseract==0.1.3
text-unidecode==1.3
thinc==8.1.12
threadpoolctl==3.2.0
tifffile==2023.9.26
tokenizers==0.15.0
tomli_w==1.0.0
tomlkit==0.12.0
toolz==0.12.0
torch==2.1.0+cu118
torchaudio==2.1.0+cu118
torchvision==0.16.0+cu118
tornado==6.3.3
tqdm==4.66.1
traitlets==5.9.0
transformers==4.35.2
translatehtml==1.5.2
trove-classifiers==2023.11.9
typer==0.7.0
typing_extensions==4.8.0
tzdata==2023.3
tzlocal==5.2
urllib3==1.26.14
userpath==1.9.1
uvicorn==0.24.0.post1
virtualenv==20.24.6
waitress==2.1.2
wasabi==0.10.1
wcwidth==0.2.6
weasel==0.3.4
webencodings==0.5.1
websockets==11.0.3
Werkzeug==3.0.3
widgetsnbextension==4.0.9
wrapt==1.14.1
wsproto==1.2.0
xxhash==3.4.1
yarl==1.9.3
zipp==3.17.0
