
h1,h2{
  text-align: center;
}

h1{
  font-size: 800;
}

/* Reset some default browser styles */
body, h1, h2, h3, p, ul, li {
  margin-left: 5;
  padding-left: 5;
}


/* Apply a background color */
body {
  background-color: #f4f4f4;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6em;
  padding:0;
  margin:0;
  box-sizing:border-box;
  background-image: url('swr.png');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  /*filter: blur(4px); /* Adding blur to make it less focused */
}

.media-container-full {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
}

.media-container1 {
  width: 100%;
}

.remote-control {
  width: 100%;
  max-width: 170px;
  margin: 20px 0;
  /* ...other styles */
}

@media only screen and (min-width: 601px) {
  .media-container-full {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .media-container1 {
    margin-left: 20px;
  }
  .remote-control {
    margin-right: 130px;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 170px;  /* Set explicit width */ 
  }
}

video, #videoPlayer {
  max-width: 100%;
  height: auto;
}


.remote-button {
  background-color: #50b3a2;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin: 5px 0px;
  border-radius: 5px;
  font-size: 14px;
}



/* Container */
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

/* Header */
header {
  background: #50b3a2;
  color: white;
  padding: 20px;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 36px;
}

/* Navigation */
nav {
  background: #333;
  color: white;
  text-align: center;
  padding: 15px 0;
}

nav a {
  padding: 14px 20px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

/* Main content */
section.main {
  padding: 30px 0;
}

/* Footer */
footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 15px 0;
}

/* Add some spacing for each section */
header, nav, .main, footer {
  margin-bottom: 20px;
}

/* Add button styles */
button {
  background: #50b3a2;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

/* Media Queries for responsiveness */
@media (max-width: 600px) {
  .container {
    width: 95%;
  }

  nav a {
    font-size: 14px;
    padding: 10px;
  }
}




/* Add a background overlay to make text more readable */
.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* Change text colors to make them more readable against a dark background */
header, nav, section, footer, h1, h2, h3, p, a {
  color: #E0E0E0; /* Light grey color for better visibility */
}


/* Existing styles for larger screens */
.grid-container {
  display: grid;
  grid-template-rows: 1fr 1fr; 
  grid-template-columns: 1fr 1fr 1fr; 
  gap: 10px;
  margin: 20px;
}

.grid-item {
  border: none;
  padding: 10px;
  text-align: center;
}

.grid-item p {
  margin: 0;
  padding: 0;
}

.grid-item img {
  max-width: 100%; /* Responsive image */
  height: auto;
}

/* Media query for mobile devices */
@media only screen and (max-width: 600px) {
  .grid-container {
    grid-template-columns: 1fr; /* Single column layout */
    grid-template-rows: auto; /* Auto layout */
  }
}






.styled-table {
  width: 100%;
  max-width: 95%; /* Limit the maximum width to 95% of the container */
  border-collapse: collapse;
  margin: 20px auto;
  font-size: 18px;
  text-align: center;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
  border: 1px solid #fafcfc;
}

.styled-table tbody tr {
  border-bottom: 1px solid #095744;
  background-color: #85b6ae;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #50b3a2;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #f7faf7;
  background-color: #50b3a2;
}

.styled-table thead tr {
  background-color: #f3f8f3;
  color: #50b3a2;
  text-align: center;
}


/* Existing styles */

.form-container {
  padding-left: 20px;  /* Padding on the left */
  padding-right: 20px; /* Padding on the right */
}

/* Existing styles */
.form-group {
  margin-bottom: 20px;
}

.form-input,
.form-select,
.form-textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 20px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  grid-column: 1 / 3; /* Span across both columns */
}

.form-button:hover {
  background-color: #45a049;
}

/* New styles for grid layout */
.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr; /* 2 columns */
  grid-template-rows: auto auto; /* 2 rows */
  gap: 20px;
}

